langchain==0.3.0
langchain-openai==0.1.6
langchain-community==0.3.0
openai==1.37.0
pandas==2.2.2
openpyxl==3.1.5
python-dotenv==1.0.1
bcrypt==4.2.0
fastapi==0.115.0
uvicorn==0.30.6
psycopg2-binary==2.9.9
